html {
  height: 100%;
}

body {
  min-height: 100%;
}

.bar {
  fill: rgba(252, 84, 104, 1);
}

.highlighted-bar {
  stroke-width: 2px;
  stroke: rgb(0,0,0, 1);
}

h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
