html {
  height: 100%;
}

body {
  min-height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.bar {
}

.highlighted-bar {
  stroke-width: 2px;
  stroke: rgb(0,0,0, 1);
}

h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.plot-spider {
  display: flex;
  justify-content: center;
}

.light-gray-text {
  color: #8A8886;
}

.text-gen-form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr;
}

.stacked-text-field-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.ms-Checkbox-label {
  font-weight: 600;
}

.two-column-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: stretch;
}

.page-column {
  overflow-y: scroll;
}

.sort-button {
  background: #FFFFFF;
  border: 1px solid #167DF5;
  box-sizing: border-box;
  border-radius: 2px;
}

.sort-button.disabled-button {
  background: #EFF2F4;
  border: solid #EFF2F4 1px;
}