.button {
  position: relative;
  display: inline-block;
}

.text-result {
    minHeight: 54;
    padding: 10;
    boxSizing: "border-box";
    borderBottom: "1px solid gray";
    display: "flex";
}

.text-result-content {
    marginLeft: 10;
    overflow: "hidden";
    flexGrow: 1;
}

.text-result-content-score {
    marginLeft: 10;
    overflow: "hidden";
    flexGrow: 1;
}

.text-result-content-generated-text {
    marginLeft: 10;
    overflow: "hidden";
    flexGrow: 1;
    font-style: bold;
}